/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* wildcard */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style rules*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Barlow Condensed', sans-serif;
}

/* Header */
header {
    background-color: black;
    position: fixed;
    padding: 0 1rem;
    z-index: 50;
    width: 100%;
    box-shadow: 0 2px 2px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* main */
main {
    background-color: aqua;
    flex: 1 0 auto;
    margin-top: 70px;
}

/* footer */
footer {
    background-color: black;
}

#social-networks {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    list-style-type: none;

}

#social-networks i {
    font-size: xx-large;
    padding: 10%;
    color: red;
}

header a {
    text-decoration: none;
    color: red;
    height: 70px;
}

h1 {
    letter-spacing: 5px;
    text-transform: uppercase;
}

nav {
    position: absolute;
    background-color: black;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px;
    left: 0%;
    display: none;
    top: 100%
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
    right: 0%;
}

/* Giving underline to active page */
.active {
    border-bottom: 1px solid;
}

/* nav-toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: red;
}

/* Media query for screen sizes above 768px */
@media screen and (min-width:768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}


/* For devices larger than 992px */
@media screen and (min-width:992px) {
    #menu a:hover {
        border-bottom: 1px solid red;
    }
}